image: python:3.11

stages:
  - test
  - quality
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .pip/

test:
  stage: test
  script:
    - python -m pip install --upgrade pip
    - pip install --cache-dir .pip -r requirements.txt
    - pytest --cov=src --cov-report=xml --cov-report=term
  artifacts:
    paths:
      - coverage.xml
    expire_in: 1 week
  allow_failure: false
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"

sonarcloud:
  stage: quality
  image: sonarsource/sonar-scanner-cli:latest
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  cache:
    key: sonar
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
      -Dsonar.projectKey=think-world_api-ia
      -Dsonar.organization=think-world
      -Dsonar.sources=src
      -Dsonar.tests=src
      -Dsonar.test.inclusions=**/test_*.py,**/*_test.py
      -Dsonar.exclusions=**/venv/**,**/__pycache__/**,**/.pip/**
      -Dsonar.python.coverage.reportPaths=coverage.xml
      -Dsonar.host.url=https://sonarcloud.io
      -Dsonar.login=$SONAR_TOKEN
  allow_failure: false
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - curl -X POST "$RENDER_DEPLOY_HOOK"
  when: on_success
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
